input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px black inset;
    -webkit-text-fill-color: #FFF600 !important;
}
.contain {
  margin-left: auto;
  margin-right: auto;
}
.home-contain {
  width: 1280px;
  height: 620px;
  margin-left: auto;
  margin-right: auto;
  background: url("PickyPage1.png") bottom center;
  background-size: cover;
  position: relative;
  margin-bottom: 10px;
}
.about-contain {
  margin-top: 60px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}
.filter-contain {
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  display: none;
}
.navbar {
  background: transparent;
  border: none;
  margin-bottom: 10px;
  padding-left: 50px;
}

.navbar-brand {
  font-size: 24px;
  color: black !important;
}

.navbar-header {
  margin-left: auto;
  margin-right: auto;
  margin-left: -15px !important;
}

.navlink {
  padding-bottom: 10px;
  padding-top: 5px !important;
  color: black !important;
}

.navlink:hover {
  color: #B50000 !important;
}

.link-border {
  border-right: 1px solid #B50000;
}

.nav li {
  height: 30px;
}

.nav {
  padding-top: 30px;
  margin-right: -40px;
}
#distance {
  margin: 10px;
  width: 202px;
  margin-left: auto;
  margin-right: auto;
}
.ui-slider-handle:focus {
  outline: none;
}
.distance-label-1 {
  font-size: 10px;
  color: gray;
  width: 35px;
  margin-top: 20px;
}
.distance-label-2 {
  font-size: 10px;
  color: gray;
  width: 37px;
  margin-top: 20px;
}
.distance-label-3 {
  font-size: 10px;
  color: gray;
  width: 40px;
  margin-top: 20px;
}
.distance-label-4 {
  font-size: 10px;
  color: gray;
  width: 42px;
  margin-top: 20px;
}
.distance-label-5 {
  font-size: 10px;
  color: gray;
  width: 32px;
  margin-top: 20px;
}
.distance-label-6 {
  font-size: 10px;
  color: gray;
  width: 13px;
  margin-top: 20px;
  text-align: right;
}
#distance-value-min, #distance-value-max , #distance-value {
  position:absolute;
  width: 80px;
  top: -30px;
  font-size: 12px;
}
.rating-select:before {
  content: "\2605";
  position: absolute;
}
.rating-select {
  padding-top: 10px;
  font-size: 24px;
  unicode-bidi: bidi-override;
  direction: rtl;
  color: #FFAE00;
}
.rating:hover:before {
   content: "\2605";
   position: absolute;
}
.rating {
  padding-top: 10px;
  font-size: 24px;
  unicode-bidi: bidi-override;
  direction: rtl;
  color: #FFAE00;
}
.rated {
  padding-top: 10px;
  font-size: 24px;
  unicode-bidi: bidi-override;
  direction: rtl;
  color: #FFAE00;
}
.rating:hover:before,
.rating:hover ~ :before {
   content: "\2605";
   position: absolute;
}
.star {
  width: 125px;
  margin-left: auto;
  margin-right: auto;
}
.starry {
  width: 125px;
  margin-left: auto;
  margin-right: auto;
}
.rating-contain {
  width: 250px;
  float: right;
}
.rating-contain p {
  text-align: center;
  font-size: 16px;
}
.distance-contain p {
  text-align: center;
  font-size: 16px;
  margin-bottom: 30px;
}
.distance-contain {
  width: 260px;
  float: left;
}
.type-list {
  margin-top: 70px;
  padding-bottom: 10px;
}
.restaurant-type {
  display: block;
  background-color: transparent;
  border: 1px solid gray;
  width: 125px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
}
.restaurant-list {
  height: 80px;
}
.selected {
  background-color: #B50000;
  border: 1px solid #B50000;
  color: white;
}
.restaurant-type:focus {
  outline: none;
}
.about-text {
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 24px;
  padding-bottom: 80px;
}
.about-text p {
  text-align: justify;
  padding-top: 30px;
  font-size: 16px;
}
.addr-box {
  position: absolute;
  left: 492px;
  top: 128px;
}
.address-button {
  width: 60px;
  padding: 0px;
  border: 0px;
  margin-left: -4px;
  height: 80px;
  background: transparent;
  color: #FFF600;
  font-size: 20px;
  border-left: dotted 4px #FFF600;
}
.address-button:focus {
  outline: none;
}
.address-home {
  background: transparent;
  border: none;
  width: 270px;
  height: 75px;
  color: #FFF600;
  font-family: Dotted;
  font-size: 16px;
  padding-left: 5px;
}
.address-home:focus {
  outline: none
}

.login {
  width: 380px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 60px 40px 60px;
  margin-top: 30px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  position: absolute;
  left: 0;
  right: 0;
  top: 80px;
  background: white;
  display: none;
  z-index: 100;
}
.register {
  width: 380px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 60px 40px 60px;
  margin-top: 30px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  position: absolute;
  left: 0;
  right: 0;
  top: 80px;
  background: white;
  display: none;
  z-index: 100;
}

.login-title {
  text-align: center;
  margin-bottom: 5px;
}

.login-form input {
  display: block;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  height: 35px;
  border: 1px solid gray;
  padding-left: 5px;
}

.login-form input:focus {
  outline: none;
}

.login-form button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  margin-top: 20px;
  border: 1px solid gray;
  width: 100px;
  height: 35px;
  font-size: 16px;
}

.login-form p {
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  padding-left: 15px;
  padding-right: 15px;
}

.error-message {
  font-size: 14px;
  color: red;
  text-align: center;
  margin-top: 0px;
}
.login-msg {
  text-align: center;
  font-size: 14px;
  margin-top: 10px;
}
.cover {
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  display: none;
  z-index: 99;
}
#sendFilter {
  background: transparent;
  border: 1px solid gray;
  margin-bottom: 50px;
  width: 200px;
  height: 50px;
  font-size: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.sendFilter:focus {
  outline: none;
}
@font-face {
    font-family: Dotted;
    src: url("Dots.ttf");
}
.exit {
  float: right;
  background: transparent;
  border: none;
  font-size: 18px;
  color: gray;
  margin-right: -20px;
}
.exit:focus {
  outline: none;
}
.brand-pic {
  width: 200px;
  height: 90px;
  background: url("pickylogo.png") center center;
  background-size: cover;
  margin-left: -60px;
}
.seperate {
  width: 1000px;
}
.arrow-down {
  font-size: 50px;
  text-align: center;
  width: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  cursor: pointer;
}
#yourAddr {
  height: 100px;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  text-align: center;
  margin-bottom: 30px;
}
.nav-contain {
  width: 1280px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}
.addr-title {
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  width: 100px;
  text-align: center;
}
.result-row {
  height: 100px;
}
.res-addr {
  font-size: 16px;
}
.res-line {
  width: 1300px;
  border-color: #B50000;
  margin-bottom: 40px;
}
.result-name {
  font-size: 20px;
}
