{% extends "master.html" %}
{% block body %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <p>{{session['addr']}}</p>
    </div>
    <div class="col-md-8">
      <div class="row">
        {% for cat in  %}
          <div class="col-md-3 col-sm-4 col-xs-6 restaurant-list">
            <button class="restaurant-type selected">
              {{ cat }}
            </button>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  {% for result in results %}
    <div class="row">
      <div class="col-sm-5">{{result['name']}}</div>
      <div class="col-sm-2">{{result['rating']}}</div>
      <div class="col-sm-3"><a href="{{'/history/%s/%s/%s'%(result['location'][0],result['name'],result['category'])}}">Rate me!</a></div>
      <div class="col-sm-2">{{result['distance']}}</div>
    </div>
  {% endfor %}
</div>
{% endblock %}
